@font-face {
    font-family: kola;
    src: url(./fonts/Kola-Regular.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: arry-regular;
    src: url(./fonts/Array-Regular.ttf);
}

@font-face {
    font-family: khand-regular;
    src: url(./fonts/Khand-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 12px;
    background-color: #151515;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    margin: 0 0 0 24px;
    font-family: kola;
    font-size: clamp(1rem, 1.5vw, 4rem);
    font-weight: 900;
    color: #f9faf8;
}

ul {
    padding: 0;
    margin: 0 24px 0 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    font-family: roboto-regular;
    font-size: clamp(0.8rem, 1vw, 4rem);
    color: #f9faf8;
}

.hero {
    background-color: #151515;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    flex: 1;
}

.hero-left {
    width: 600px;
    height: auto;
}

.hero-pic {
    width: 400px;
    height: auto;
}

.hero-main {
    font-family: arry-regular;
    font-size: clamp(0.5rem, 4vw, 4rem);
    font-weight: lighter;
    color: #f9faf8;
}

.hero-second {
    font-family: khand-regular;
    font-size: clamp(0.6rem, 1vw, 4rem);
    color: #e5e7eb;
}



.test {
    width: 100%;
    height: auto;
}

button {
    background-color: #A91D3A;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    color: white;
    margin-top: 16PX;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: clamp(0.5rem, 1vw, 4rem);
    font-family: khand-regular;
  }